{{- partial "init.html" . -}}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noodp" />
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

        {{- partial "head/meta.html" . -}}
        {{- partial "head/link.html" . -}}
        {{- partial "head/seo.html" . -}}
    </head>
    <body data-header-desktop="{{ .Site.Params.header.desktopMode }}" data-header-mobile="{{ .Site.Params.header.mobileMode }}">
        {{- /* Check theme isDark before body rendering */ -}}
        {{- $theme := .Site.Params.defaulttheme -}}
        <script type="text/javascript">(window.localStorage && localStorage.getItem('theme') ? localStorage.getItem('theme') === 'dark' : ('{{ $theme }}' === 'auto' ? window.matchMedia('(prefers-color-scheme: dark)').matches : '{{ $theme }}' === 'dark')) && document.body.setAttribute('theme', 'dark');</script>

        <div id="mask"></div>

        {{- /* Body wrapper */ -}}
        <div class="wrapper">
            {{- partial "header.html" . -}}
            <main class="main">
                <div class="container">
                    {{- block "content" . }}{{ end -}}
                </div>
            </main>
            {{- partial "footer.html" . -}}
        </div>

        <div id="fixed-buttons">
            {{- /* top button */ -}}
            <a href="#" id="back-to-top" class="fixed-button" title="{{ T `backToTop` }}">
                <i class="fas fa-arrow-up fa-fw" aria-hidden="true"></i>
            </a>

            {{- /* comment button */ -}}
            <a href="#" id="view-comments" class="fixed-button" title="{{ T `viewComments` }}">
                <i class="fas fa-comment fa-fw" aria-hidden="true"></i>
            </a>
        </div>

        <div class="sakana-box"></div>

        {{- /* Load JavaScript scripts and CSS */ -}}
        {{- partial "assets.html" . -}}
    </body>
    {{- if .Site.Params.fireworks -}}
    <!-- 爆炸烟花 -->
    <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas>
    <script type="text/javascript" src="/js/anime.min.js"></script>
    <script type="text/javascript" src="/js/firework.js"></script>
    {{- end -}}
    {{- if .Site.Params.sakana -}}
    <script src="https://cdn.jsdelivr.net/npm/sakana"></script>
    <script>
        Sakana.init({
            el:         '.sakana-box',     // 启动元素 node 或 选择器
            character:  'chisato',          // 启动角色 'chisato','takina'
            inertia:    0.01,              // 惯性
            decay:      0.99,              // 衰减
            r:          60,                // 启动角度
            y:          10,                // 启动高度
            scale:      .4,                 // 缩放倍数
            translateY: 0,                 // 位移高度
            canSwitchCharacter: false,     // 允许换角色
        });
    </script>
    {{- end -}}
</html>
