<div class="sakana-box"></div>
<script src="https://cdn.jsdelivr.net/npm/sakana"></script>
<script>
  Sakana.init({
    el:         '.sakana-box',     // 启动元素 node 或 选择器
    character:  'chisato',          // 启动角色 'chisato','takina'
    inertia:    0.01,              // 惯性
    decay:      0.99,              // 衰减
    r:          60,                // 启动角度
    y:          10,                // 启动高度
    scale:      .4,                 // 缩放倍数
    translateY: 0,                 // 位移高度
    canSwitchCharacter: false,     // 允许换角色
  });
</script>